html {
  height: 100%;
  width: 100%;
}
  
body {
  margin: 0;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #f0f0f0; 
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  border: 2px solid white;
  background: #f0f0f0;
}

#toolbar { position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

button {
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 100%;
  padding: 0.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {

  
  -webkit-appearance: auto;
  margin: 0;
  background-color: #242424;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow: clip !important;
    margin: 0;
    background-color: transparent;
    padding: 0;
    color: inherit;
    border: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    border-bottom: #c2c2c2 1px solid;
}

space {
  content: "";
  margin: 0;
  display: block;
  line-height: 1.4em;
}

ul {
  margin: 0.5em;
}

#addLayerBtn {
  cursor: pointer;
}

#hiddenLayersList {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  scroll-behavior: smooth;
}